@charset "uft-8";

@font-face {
    font-family: Champagne;
    src: url('cac_champagne.woff') format('woff'),
        url('cac_champagne.ttf') format('trutype');
}

@font-face {
    font-family: Grunge;
    src: url('1942.woff') format('woff'),
        url('1942.ttf') format('truetype');
}

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.woff') format('woff'),
        url('DobkinPlain.ttf') format('truetype')
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Rafael Martinez
   Date: 9.6.18   
   
   Filename: ph_styles.css

*/
/* Structural Styles */
html {
    background-color: hsl(91, 8%, 56%);
}

header {
    background-color: black
}

body {
    background-color: hsl(58, 31%, 84%);
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

p {
    margin: 0;
    padding: 5px 25px 25px 25px;
}

aside {
    font-size:
}

/* Navigation Styles */
/* Section Styles */
/* Description List Styles */